body#body {
  background-color: #ffde59;
}

textarea#tweetInput {
  border: 0.5rem solid #ff0199;
  border-radius: 2rem;
}

div#pic {
  padding: 1rem 1rem;
  position: fixed;
}

.tweet-btn img {
  height: 2rem;
  margin-right: 0.5rem;
}
